.characterCard {
  background-color: #343538;
  border-radius: 1.5rem;
  color: white;
}

.characterCardContent {
  padding: 1rem;
  display: grid;
}

.characterCardName {
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
}

.characterSubheader {
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-size: 1.2rem;
  color: rgb(161, 159, 159);
}
