@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.container {
  display: grid;
  gap: 2rem;
}

.characterContainer {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  place-items: center;
}

@media only screen and (min-width: 600px) {
  .characterContainer {
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  }
}
