@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 80%;
  height: 100%;
  background-color: black;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.container {
  display: grid;
  gap: 2rem;
}
