body {
  height: 100%;
  background-color: rgb(245, 245, 245);
}

img {
  width: 100%;
}

.container {
  display: grid;
}

.card {
  display: grid;
  padding: 1rem;
  background-color: white;
  box-shadow: 1px 1px 1px gray;
}
